<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" /> @* Custom CSS *@
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <p>
                    @* The Forum Navigation section is appended to the home Forum link on pages where it is required *@
                    <a class="navLinks" asp-controller="Forum" asp-action="Index">Forum</a>
                    @RenderSection("ForumNavigation", false)
                </p>
            </div>
            <div class="col-7 nav">
                @* This partial contains the User navigation menu (Register/Login/Logout, Settings, Admin) *@
                <partial name = "_LoginPartial" />
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery-3.6.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> @* Custom JS *@
    @RenderSection("scripts", required: false)
</body>
</html>