<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-grid.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <p>
                    <a class="navLinks" asp-controller="Forum" asp-action="Index">Forum</a>
                    @RenderSection("ForumNavigation", false)
                </p>
            </div>
            <div class="col-7 nav">
                <partial name = "_LoginPartial" />
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery-3.6.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>